<!doctype html>
<html lang="ru">
<head>
  <title>{{ title|default("HobbyWorldTest") }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="{{content|default('Landing page')}}">
  <link href="assets/css/style.css" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body>
{# подключаем спрайт #}
{% include '../blocks/sprite.twig' %}

<div class="body">
  {% block body %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
</body>
</html>
